<body>
    <div class="contact">
        <div class="container">
            <h1>Contact me</h1>
            <div class="social">
                <div class="col-md-2">
                    <a href="https://twitter.com/tetuzinn1118"><img src="/assets/github-logo.svg"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/tetuzinn1118"><img src="/assets/twitter-logo-silhouette.svg"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/tetuzinn1118"><img src="/assets/facebook-logo.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/tetuzinn1118"><img src="/assets/instagram-social-network-logo-of-photo-camera.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/tetuzinn1118"><img src="/assets/youtube-logo.png"></a>
                </div>
                <div class="col-md-2">
                    <a href="https://twitter.com/tetuzinn1118"><img src="/assets/google-plus-logo.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>