<!--HTML-->
<body>
    <div class="portfolio">
        <ul class="slider single-item">
            <li><img src="/assets/01-600x300.jpg"></li>
            <li><img src="/assets/02-600x300.jpg" ></li>
            <li><img src="/assets/03-600x300.jpg" ></li>
            <li><img src="/assets/04-600x300.jpg" ></li>
            <li><img src="/assets/05-600x300.jpg" ></li>
            <li><img src="/assets/06-600x300.jpg" ></li>
        </ul>
        <div class="grid">
            <a href="#">
                <div class="box">
                    <img src="/assets/01-600x300.jpg">
                    <h3>TravelGo’s Booking App</h3>
                    <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize</p>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="/assets/02-600x300.jpg">
                    <h3>Breather’s Reservation Site</h3>
                    <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="/assets/03-600x300.jpg">
                    <h3>EnVogue Events’ Portfolio</h3>
                    <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="/assets/04-600x300.jpg">
                    <h3>Gauntlet Gallery</h3>
                    <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="/assets/05-600x300.jpg">
                    <h3>Koi Pond Online Visitors Guide</h3>
                    <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="/assets/06-600x300.jpg">
                    <h3>Academy of Sciences  Newsletter</h3>
                    <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p>
                </div>
            </a>
        </div>
    </div>
</body>
