<div class="welcome">
    <div class="jumbtron">
        <div class="container">
            <h2>My name is 
                <span class="highlight" >ttakano</span>
                and I have creative ideas and build websites</h2>
            <a class="btn" href="/portfolio">view my work</div>
        </div>
    </div>
</div>