<div class="about">
    <div class="main">
        <div class="container">
            <h1>Relive your favorite memories</h1>
        </div>
    </div>
    <div class="subsection">
        <div class="container">
                <h1>No more sorting through photos</h1>
                <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
                <p><a class="btn btn-primary" href="new">Sign up</a></p>
        </div>
    </div>
</div>