<div class="home">
    <div class="title">
        <div class="col-md-6 col-md-6-offset main">
            <h1>Create and share Stories</h1>
            <p>
                <a class="btn btn-primary" href="about">Learn more</a>
            </p>
        </div>
    </div>
    <div class="sub-title">
        <div class="container">
            <h2>Relive and share your adventures</h2>
            <p>Stories automatically creates a digital journal filled with only your best photos.</p>
        </div>
    </div>
    <div class="subImg"></div>
    <div class="second">
        <div class="container">
            <h2>Discover Stories</h2>
            <p><a class="btn btn-primary" href="about">Learn more</a></p>
        </div>
    </div>
</div>